* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
}

.navbar {
  padding: 1rem 0;
}

.navbar .navbar-brand {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.navbar .nav-link {
  color: #000;
  font-weight: 500;
  margin: 0 10px;
  
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: rgb(241, 149, 29);
  border-bottom: 2px solid rgb(236, 138, 10);
}

.navbar-toggler {
  border: none;
}


.name {
  padding-left: 4rem;
  font-weight: bold;
}
.page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  padding-right: 5rem;
}
.page a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}
.page a:hover {
  color: burlywood;
  text-decoration: double underline;
}
.page a.active {
  color: rgb(243, 190, 120);
  font-weight: bold;
  text-decoration: underline;
}
.carousel-item {
  width: 100%;
  height: 400px;
}

.carousel-item img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 100vh;
}
.carousel-caption {
  text-align: center;
}
.carousel-caption h5 {
  font-size: 5rem;
  font-weight: bold;
  color: white;
}
.carousel-caption p {
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
}
.carousel-caption .btn {
  background-color: black;
  padding: 10px 25px;
  color: white;
  border: none;
}

.holder {
  padding: 30px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.feature-box {
  text-align: center;
  margin-top: 3rem;
}
.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  color: white;
  font-size: 30px;
  margin-left: 6rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
.title {
  font-size: 19px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.text {
  font-size: 15px;
  color: #666;
  line-height: 1.6;
}
.section {
  display: flex;
  align-items: center;
  background-color: #f8f7f7;
  margin: 50px;
  padding: 20px;
}
.content {
  padding-right: 50px;
  text-align: left;
}
.about {
  font-size: 15px;
  color: #555;
  margin-bottom: 5px;
  padding-left: 5px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.title1 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-top: 0;
  margin-bottom: 20px;
}
.body {
  font-size: 18px;
  color: #666;
  line-height: 1.4;
  margin-bottom: 20px;
}
.about-name {
  color: #000;
  font-weight: bold;
}
.button {
  display: inline-block;
  padding: 12px 25px;
  background-color: black;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: none;
  border-radius: 5px;
}
.button:hover {
  background-color: burlywood;
  color: black;
}
.image-container {
  text-align: right;
  max-width: 50%;
}
.about-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.gallery-item {
  flex: 1;

  position: relative;

  text-decoration: none;

  width: 200px;
  overflow: hidden;
}
.item-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  display: block;
  filter: brightness(0.6);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.overlay {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0 15px;
  color: #fff;
  text-align: left;
  padding-bottom: 2rem;
}

.category {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 5px;
  opacity: 0.8;
  text-transform: uppercase;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.2;
  color: #000;
}
.gallery-item:hover .item-image {
  filter: brightness(0.8);
  transform: scale(1.05);
}

.skills-section-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
  background-color: #f8f8f8;
}

.skills-image-area {
  flex: 1;
  width: 100%;
  height: 100%;
}
.skills-image {
  width: 100%;
  height: 500px;
}

.skills-content-area {
  flex: 1;
  padding: 50px;
  text-align: left;
}

.skills-subtitle {
  font-size: 18px;
  color: #130e0e;
  margin-bottom: 5px;
  font-weight: 500;
}

.skills-title {
  font-size: 30px;
  font-weight: 900;
  color: #0f0f0f;
  margin-top: 0;
  margin-bottom: 20px;
}

.skills-description {
  font-size: 15px;
  color: #4d4b4b;
  line-height: 1.6;
  margin-bottom: 40px;
  text-align: left;
}

.skill-item {
  margin-bottom: 25px;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.skill-name {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.percentage {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 2px 5px;
  border-radius: 3px;
}
.progress {
  border-radius: 0;
  height: 10px;
}
.progress-bar {
  background-color: #000;
}
.section-holder {
  margin-top: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
.section1 {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 1.5rem;
}
.responsive {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.fully {
  font-style: italic;
  font-weight: bold;
  padding-top: 4rem;
  margin-bottom: 0px;
}
.great {
  font-size: 20px;
  font-weight: bold;
}
.note {
  color: #666;
}
.footer {
  background-color: rgb(250, 248, 246);
  color: #080808;
  text-align: center;

  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;

  padding: 20px 0;
  font-size: 14px;

  border-top: 1px solid #eee;
}
.about1 {
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #333;
  margin-top: 2.5rem;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 50px;
  max-width: 1000px;
  margin: 0 auto;
}

.about-image img {
  width: 350px;
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about-text {
  max-width: 600px;
}

.about-text h1 {
  font-size: 3rem;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.7;
  color: #555;
  margin-bottom: 15px;
}
.list li {
  padding: 10px;
}
.portfolio {
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #fff;
  margin-top: 3rem;
}

.portfolio-header h1 {
  color: black;
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.portfolio-header p {
  color: #353535;
  font-size: 1rem;

  max-width: 600px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.portfolio-gallery img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.3s ease;
}

.portfolio-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.blog-section {
  padding: 100px 20px 60px;
  text-align: center;
}

.blog-header h1 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.blog-header p {
  color: black;
  max-width: 600px;
  margin: 0 auto 40px;
  line-height: 1.6;
  font-size: 1rem;
}

.blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
  justify-items: center;
}

.blog-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.blog-card h3 {
  margin: 15px;
}

.blog-card p {
  color: #555;
  font-size: 0.95rem;
  margin: 0 15px 15px;
  line-height: 1.5;
}

.read-btn {
  display: inline-block;
  margin: 0 15px 20px;
  color: #fff;
  background-color: black;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.read-btn:hover {
  background-color: burlywood;
}

.post-hero {
  position: relative;
  margin-top: 70px;
}

.post-hero img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  filter: brightness(65%);
}

.post-title {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}

.post-title h1 {
  font-size: 2.5rem;
}

.post-date {
  font-size: 1rem;
  color: #fce4ec;
}

.post-content {
  max-width: 800px;
  margin: 60px auto;
  padding: 0 20px;
  line-height: 1.8;
  color: #555;
}
.post-content .achieve {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
.post-content h2 {
  margin-top: 30px;
  color:burlywood;
  font-weight: bold;
  font-size: 1.5rem;
}

blockquote {
  background-color: #faf6f6;
  padding: 15px 20px;
  margin: 30px 0;
  border-left: 4px solid burlywood;
  font-style: italic;
}

.related-posts {
  background-color: #faf6f6;
  padding: 50px 20px;
  text-align: center;
}

.related-container {
  display: flex;

  justify-content: center;
  gap: 30px;
}

.related-card {
  width: 250px;
}

.related-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.related-card h3 {
  margin-top: 10px;
  font-size: 1rem;
}

.related-card a {
  color:burlywood;
  text-decoration: none;
}

.related-card a:hover {
  text-decoration: underline;
}

.contact-section {
  padding: 120px 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1000px;
  width: 100%;
}

/* Left Side */
.contact-info {
  flex: 1;
  width: 280px;
}

.contact-info h2 {
  color: #222021;
  font-weight: bold;
}

.contact-info p {
  line-height: 1.7;
}

.details p {
  margin: 8px 0;
}

.socials a {
  text-decoration: none;
  color: rgb(235, 151, 43);
  margin-right: 15px;
  transition: 0.3s;
}

.socials a:hover {
  text-decoration: underline;
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-form h3 {
  color: rgb(235, 151, 43);
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;

  resize: none;
}

.contact-form button {
  background-color: rgb(233, 172, 92);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.contact-form button:hover {
  background-color: black;
}

@media (max-width: 768px) {
  
  nav {
    height: auto;
    padding: 20px 0;

  
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
  }

  .name {
    font-size: 1.4rem;
    padding-left: 0;
  }

  .page {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.8rem;
    padding-right: 0;
  }

  .page a {
    font-size: 0.85rem;
  }

  
  .carousel-item img {
    height: 70vh;
    object-fit: cover;
  }

  .carousel-caption h5 {
    font-size: 2.5rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }

  
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
  }

  .feature-box {
  
    margin-top: 2rem;
  }

  .icon {
    margin: 0 auto 1rem;
  }

  
  .section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 20px;
    padding: 20px;
    text-align: center;
  }

  .content {
  
    padding: 0;
    text-align: left;
  }

  .image-container {
    
    text-align: center;
  }

  .about-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  
  .gallery-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-item {
    width: 48%;
  }


  .section1 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  
  .skills-section-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skills-image-area,
  .skills-content-area {
    flex: 1 1 45%;
  }

  .skills-image {
    height: auto;
  }

  /* --- BLOG & PORTFOLIO --- */
  .portfolio-gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-container {
    grid-template-columns: repeat(2, 1fr);
  
  }

  
  .contact-section {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 20px;
    margin-top: 2rem;
  }

 .contact-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }

  
}

/*Ipad view */
@media (min-width: 768px) and (max-width: 1024px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page {
    gap: 1.2rem;
  }



  .gallery-item {
    width: 30%;
  }

  .portfolio-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .blog-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills-section-container {
    flex-wrap: wrap;
  }

  .skills-image-area,
  .skills-content-area {
    flex: 1 1 45%;
  }
}


@media (min-width: 1025px) {
  .gallery-container {
    display: flex;
  }
}
